
<meta name="description" content="瘟疫公司交流站是一个游戏社区，提供游戏信息、下载、交流和攻略。">
<meta name="keywords" content="瘟疫公司, 游戏, 下载, 交流, 攻略">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="style.css">
<div class="header-content">
    <div>
    <img src="favicon.ico" alt="favicon.ico" height="25" width="25">
    <a href="index.html" class="logo">瘟疫公司交流站</a>
    </div>
    <nav>
        <ul>
            <li><a href="index.html" data-page="index">主页</a></li>
            <li><a href="game_info.html" data-page="game_info">游戏信息</a></li>
            <li><a href="download.html" data-page="download">下载</a></li>
            <li><a href="community.html" data-page="community">交流平台</a></li>
            <li><a href="strategy.html" data-page="strategy">攻略</a></li>
            <li><a href="comments.html" data-page="comments">评论</a></li>
        </ul>
    </nav>
</div>