<header>
    <div class="header-content">
        <a href="index.html" class="logo">瘟疫公司交流站</a>
        <nav>
            <ul>
                <li><a href="index.html" data-page="index">主页</a></li>
                <li><a href="game_info.html" data-page="game_info">游戏信息</a></li>
                <li><a href="download.html" data-page="download">下载</a></li>
                <li><a href="community.html" data-page="community">交流平台</a></li>
                <li><a href="strategy.html" data-page="strategy">攻略</a></li>
                <li><a href="comments.html" data-page="comments">评论</a></li>
            </ul>
        </nav>
    </div>
</header>